package ${packageName};

import java.util.List;
import ${projectPackage}.export.request.PageQuery;
import ${projectPackage}.export.vo.${table.className};

public interface ${table.className}Mapper{

    /**
     * 保存${table.className}
     * @return
     */
    Integer save(${table.className} vo);

#foreach($uniqueColumn in $table.uniqueColumns)
    /**
     *通过查询${uniqueColumn.attrName}查询
     * @return
     */
    ${table.className} queryBy${uniqueColumn.capitalAttrName}(${uniqueColumn.attrType} ${uniqueColumn.attrName});
#end

#foreach($uniqueColumn in $table.uniqueColumns)
    /**
     *通过${uniqueColumn.attrName}更新
     * @return
     */
    Integer updateBy${uniqueColumn.capitalAttrName}(${table.className} updateVo);
#end

    List<${table.className}> queryPageList(PageQuery<${table.className}> pageQuery);

    int queryPageCount(PageQuery<${table.className}> pageQuery);

}